.blk1, .blk2, .blk3 {
    display: flex;
    justify-content: start;
    width: 80%;
    margin-bottom: 10px;
    margin-top: 15px;
}

.title {
    width: 22%;
    text-align: right;
    padding-right: 10px;
}

.content, .content1, .content2 {
    width: 70%; /* Tamanho fixo de 70% */
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(170, 166, 166, 0.442);
    padding: 1px;
    box-sizing: border-box;
    border-radius: 5px;
    word-wrap: break-word;
    overflow: hidden;
    min-height: 35px; /* Define uma altura mínima para uniformidade */
}

.content span, .content1 span, .content2 span {
    width: 780px; /* Ocupa todo o espaço disponível */
    text-align: center; /* Alinha o texto ao centro */
}

.content1 span, .content2 span {
    width: 780px; /* Ocupa todo o espaço disponível */
    text-align: center; /* Alinha o texto ao centro */
    padding-left: 165px;
}

.separacao{
    border-bottom: 12px solid rgb(116, 27, 58);
}